body {
    margin: 0;
    padding: 0;
    background: linear-gradient(red, purple, salmon, pink, salmon, purple); 
background-repeat: no-repeat;
    font-family: sans-serif;
    
}
div1 { height: 500px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red , yellow); /* Standard syntax (must be last) */
  }